{% extends 'campaign_manager/base.html' %}
{% load i18n %}

{% block title %}{% trans "Confirm Delete" %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with name=encounter.name %}Are you sure you want to delete {{ name }}?{% endblocktrans %}</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
        <a href="{% url 'game_session_detail' encounter.game_session.pk %}" class="btn btn-secondary ms-2">{% trans "Cancel" %}</a>
    </form>
{% endblock %}
